<a href="https://colab.research.google.com/github/vitorpohlenz/PPGMTM_UFSC/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [16]:
# Common Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set seed
seed = 9
np.random.seed(seed)

# Machine Learning Libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

## Models
from sklearn.linear_model import LogisticRegression

Dark theme better visualization.

In [17]:
# Plot's Layout
%matplotlib inline
import matplotlib as mpl
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)
mpl.rc('figure', figsize = [12,10])

import matplotlib.pyplot as plt

plt.style.use('ggplot')

# Data import from Google Drive

In [13]:
from google.colab import drive 
drive.mount('/content/drive')
data=pd.read_csv('drive/My Drive/Colab Notebooks/Curso de verão/Final_Project/census.csv')
# data = pd.read_csv('census.csv')
data.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   age          workclass  ...  native-country  income
0   39          State-gov  ...   United-States   <=50K
1   50   Self-emp-not-inc  ...   United-States   <=50K
2   38            Private  ...   United-States   <=50K
3   53            Private  ...   United-States   <=50K
4   28            Private  ...            Cuba   <=50K

[5 rows x 14 columns]

# Exploratory Analyses

Ubalanced data set.

In [14]:
data['income'].value_counts()/data.shape[0]

<=50K    0.752156
>50K     0.247844
Name: income, dtype: float64

Verificando por valores inválidos...

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   education_level  45222 non-null  object
 3   education-num    45222 non-null  float64
 4   marital-status   45222 non-null  object
 5   occupation       45222 non-null  object
 6   relationship     45222 non-null  object
 7   race             45222 non-null  object
 8   sex              45222 non-null  object
 9   capital-gain     45222 non-null  float64
 10  capital-loss     45222 non-null  float64
 11  hours-per-week   45222 non-null  float64
 12  native-country   45222 non-null  object
 13  income           45222 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 4.8+ MB

Different scale ranges, needs scaler.

In [15]:
data.describe()

                age  education-num  capital-gain  capital-loss  hours-per-week
count  45222.000000   45222.000000  45222.000000  45222.000000    45222.000000
mean      38.547941      10.118460   1101.430344     88.595418       40.938017
std       13.217870       2.552881   7506.430084    404.956092       12.007508
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

Todos os valores em todas as colunas parecem ser válidos, não há necessidade de preprocessamento para eliminar/modificar os valores inválidos. Porém há várias colunas com valores categóricos, precisamos transformar em valores numéricos. Vamos usar o "get_dummies" do pandas.

In [34]:
categorical_columns=['workclass', 'education_level', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country'] # income is the target
data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)
data.head()

   age  education-num  ...  native-country_ Vietnam  native-country_ Yugoslavia
0   39           13.0  ...                        0                           0
1   50           13.0  ...                        0                           0
2   38            9.0  ...                        0                           0
3   53            7.0  ...                        0                           0
4   28           13.0  ...                        0                           0

[5 rows x 96 columns]

## Test Train Split

Features and Target

In [24]:
data.columns
nm_features = ['age', 'workclass', 'education_level', 'education-num',
               'marital-status', 'occupation', 'relationship', 'race', 'sex',
               'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']
nm_target = 'income'

In [27]:
train, test = train_test_split(data, test_size=0.2, random_state=seed, shuffle=True, stratify=data['income'])
train[nm_target].value_counts()/len(train)

<=50K    0.752163
>50K     0.247837
Name: income, dtype: float64

Dividindo os dados em treino e teste.

In [35]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(['income'], axis=1), data['income'], test_size=0.2)

In [41]:
y_train.value_counts()/len(y_train)

<=50K    0.753462
>50K     0.246538
Name: income, dtype: float64

In [32]:
X_train.head()

       age      workclass  ... hours-per-week  native-country
5148    23        Private  ...           25.0   United-States
22475   34        Private  ...           36.0   United-States
13367   39   Self-emp-inc  ...           70.0   United-States
31475   23        Private  ...           40.0   United-States
29834   19        Private  ...           15.0   United-States

[5 rows x 13 columns]

In [33]:
y_train.head()

5148     <=50K
22475    <=50K
13367    <=50K
31475    <=50K
29834    <=50K
Name: income, dtype: object

Aplicando regressão logística.

In [ ]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predict = model.predict(X_test)
predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [ ]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.87      0.93      0.90      6753
           1       0.75      0.61      0.67      2292

    accuracy                           0.85      9045
   macro avg       0.81      0.77      0.79      9045
weighted avg       0.84      0.85      0.84      9045

In [ ]:
print(confusion_matrix(y_test, predict))

[[6287  466]
 [ 902 1390]]