<a href="https://colab.research.google.com/github/vitorpohlenz/PPGMTM_UFSC/blob/main/Final_Project/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bibliotecas utilizadas.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Para melhor visualizar em tema escuro.

In [ ]:
plt.style.use('ggplot')

Importando os dados do Google Drive

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')
data=pd.read_csv('gdrive/My Drive/Colab Notebooks/Curso de verão/Projeto final/census.csv')
# data = pd.read_csv('census.csv')
data.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

   age          workclass  ...  native-country  income
0   39          State-gov  ...   United-States   <=50K
1   50   Self-emp-not-inc  ...   United-States   <=50K
2   38            Private  ...   United-States   <=50K
3   53            Private  ...   United-States   <=50K
4   28            Private  ...            Cuba   <=50K

[5 rows x 14 columns]

O que parecia ser inicialmente um problema de regressão na verdade é de classificação...

In [ ]:
data['income'].value_counts()

<=50K    34014
>50K     11208
Name: income, dtype: int64

Verificando por valores inválidos...

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   education_level  45222 non-null  object
 3   education-num    45222 non-null  float64
 4   marital-status   45222 non-null  object
 5   occupation       45222 non-null  object
 6   relationship     45222 non-null  object
 7   race             45222 non-null  object
 8   sex              45222 non-null  object
 9   capital-gain     45222 non-null  float64
 10  capital-loss     45222 non-null  float64
 11  hours-per-week   45222 non-null  float64
 12  native-country   45222 non-null  object
 13  income           45222 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 4.8+ MB

Todos os valores em todas as colunas parecem ser válidos, não há necessidade de preprocessamento para eliminar/modificar os valores inválidos. Porém há várias colunas com valores categóricos, precisamos transformar em valores numéricos. Vamos usar o "get_dummies" do pandas.

In [ ]:
categorical_columns=['workclass', 'education_level', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']
data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)
data.head()

   age  education-num  ...  native-country_ Yugoslavia  income_>50K
0   39           13.0  ...                           0            0
1   50           13.0  ...                           0            0
2   38            9.0  ...                           0            0
3   53            7.0  ...                           0            0
4   28           13.0  ...                           0            0

[5 rows x 96 columns]

Dividindo os dados em treino e teste.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop(['income_>50K'], axis=1), data['income_>50K'], test_size=0.2)

In [ ]:
X_train.head()

       age  education-num  ...  native-country_ Vietnam  native-country_ Yugoslavia
29605   45            9.0  ...                        0                           0
28531   20           10.0  ...                        0                           0
653     18            7.0  ...                        0                           0
2583    50            3.0  ...                        0                           0
23129   28           13.0  ...                        0                           0

[5 rows x 95 columns]

In [ ]:
y_train.head()

29605    1
28531    0
653      0
2583     0
23129    0
Name: income_>50K, dtype: uint8

Aplicando regressão logística.

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predict = model.predict(X_test)
predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.87      0.93      0.90      6753
           1       0.75      0.61      0.67      2292

    accuracy                           0.85      9045
   macro avg       0.81      0.77      0.79      9045
weighted avg       0.84      0.85      0.84      9045

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, predict))

[[6287  466]
 [ 902 1390]]